
	<!-- SIDEBAR -->
	<section id="sidebar">
		<a href="#" class="brand"><i class='bx bxs-smileee icon'></i> ENSATé</a>
		<ul class="side-menu">
			<li><a [routerLink]="['/dashboard']" class="active" ><i class='bx bxs-smileee icon'></i> Cher Professeur !</a></li>
			<li class="divider" data-text="Bonjour Cher Professeur !">Bienvenue dans votre espace </li>
			
			<li class="divider" data-text="">de gestion des cours et notes </li>
			
		</ul>
		<div class="ads">
			<div class="wrapper">
				<a href="#" class="btn-upgrade">Déconnecter</a>
				<p>Accès <span>unique</span>à mes services <span>ENSA Tétouan</span></p>
			</div>
		</div>
	</section>
	<!-- SIDEBAR -->

	<!-- NAVBAR -->
	<section id="content">
		<!-- NAVBAR -->
		<nav>
			
			<form action="#">
				<div class="form-group">
					
				</div>
			</form>
			
			
			<span class="divider"></span>
			<div class="profile">
				<img src="../../images/logo1.png" alt="">
				
			</div>
		</nav>
		<!-- NAVBAR -->

		<!-- MAIN -->
		<main>
			<h1 class="title">Matières</h1>
			<ul class="breadcrumbs">

			</ul>
			<div class="info-data">
			
				
				
				
			</div>
      <!-- tableau-->
			<div class="data">
				<div class="content-data">
					<div class="head">
					
            <!--  pour afficher detail slider de la formation-->
            <div class="container">
				<h1>Mes Matiers</h1>
				<div id="moduleCarousel" class="carousel slide" data-bs-ride="carousel">
					<div class="carousel-inner">
					  <div *ngFor="let group of getMatieresGroups(); let i = index" class="carousel-item" [class.active]="i === 0">
						<div class="row">
						  <div class="module col" *ngFor="let matiere of group" (click)="goToCours(matiere.id)">
							<h1>{{ matiere.nom }}</h1> 
						  </div>
						</div>
					  </div>
					</div>
			
					<button class="carousel-control-prev" type="button" data-bs-target="#moduleCarousel" data-bs-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Previous</span>
					</button>
					<button class="carousel-control-next" type="button" data-bs-target="#moduleCarousel" data-bs-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Next</span>
					</button>
				</div>
			</div>
			
			
						<!-- fin de -->
					</div>
					
				</div>
				
			</div>
		</main>
		<!-- MAIN -->
	</section>
	<!-- NAVBAR -->
