
	<!-- SIDEBAR -->
	<app-formation/>
	<!-- NAVBAR -->
	<section id="content">
		<!-- NAVBAR -->
		<nav>
			
			<form action="#">
				<div class="form-group">
					
				</div>
			</form>
			
			
			<span class="divider"></span>
			<div class="profile">
				<img src="../../images/logo1.png" alt="">
				
			</div>
		</nav>
		<!-- NAVBAR -->

		<!-- MAIN -->
		<main>
			<h1 class="title">Dashboard</h1>
			<ul class="breadcrumbs">
				<li><a href="#">Home</a></li>
				<li class="divider">/ Formations / {{oneFormation.nom}} /</li>
				<li><a href="#" class="active">Ajouter un module</a></li>
			</ul>
			<div class="info-data">
			
				
				
				
			</div>
      <!-- tableau-->
			<div class="data">
				<div class="content-data">
					<div class="head">
					
            <!-- formulaire pour ajouter une formation-->
			 <div class="container">
    <!-- Title section -->
    <div class="title">Ajouter un module</div>
<div class="content">
  <form (ngSubmit)="ajouterModule()">
    <div class="user-details">
      <div class="input-box">
        <span class="details">Nom</span>
        <input type="text" [(ngModel)]="module.nom" name="nom" placeholder="Le nom du Module" required />
      </div>

      <div class="input-box">
        <span class="details">Numero de semestre</span>
        <input type="number" [(ngModel)]="module.semestre" name="semestre" min="1" placeholder="Numero de semestre" required />
      </div>
    </div>
    <!-- Submit button -->
    <div class="button">
      <input type="submit" value="Ajouter" />
    </div>
  </form>
    </div>
  </div>
            
						<!-- fin de formualaire-->
					</div>
					
				</div>
				
			</div>
		</main>
		<!-- MAIN -->
	</section>
	<!-- NAVBAR -->

