
	<!-- SIDEBAR -->
	<section id="sidebar">
		<a href="#" class="brand"><i class='bx bxs-smileee icon'></i> ENSATé</a>
		<ul class="side-menu">
			<li><a [routerLink]="['/dashboard']"><i class='bx bxs-dashboard icon' ></i> Dashboard</a></li>
			<li class="divider" data-text="main">Gestion des formations</li>
			<li>
				<a href="#" class="active"><i class='bx bxs-inbox icon' ></i> Formations <i class='bx bx-chevron-right icon-right' ></i></a>
				<ul class="side-dropdown">
					<li><a [routerLink]="['/formation']">Genie Informatique</a></li>
					<li><a [routerLink]="['/formation']">Supply chaine management</a></li>
					<li><a [routerLink]="['/formation']">Genie mécatronique</a></li>
					<li><a [routerLink]="['/formation']">Genie gstr</a></li>
                    <li><a [routerLink]="['/formation']">Big Data</a></li>
                    <li><a [routerLink]="['/formation']">Genie civil</a></li>
                    <li><a [routerLink]="['/formation']">Cyber securité</a></li>
                    <li><a [routerLink]="['/ajouter-formation']">+ Ajouter une formation</a></li>
				</ul>
			</li>
			<li class="divider" data-text="table and forms">Gestion des utilisateurs</li>
			<li>
				<a href="#"><i class='bx bxs-notepad icon' ></i> Utilisateurs <i class='bx bx-chevron-right icon-right' ></i></a>
				<ul class="side-dropdown">
					<li><a [routerLink]="['/dashboard']">Enseignants</a></li>
					<li><a [routerLink]="['/List-etudiants']">Etudiants</a></li>
					
				</ul>
			</li>
		</ul>
		<div class="ads">
			<div class="wrapper">
				<a href="#" class="btn-upgrade">Déconnecter</a>
				<p>Accès <span>unique</span>à mes services <span>ENSA Tétouan</span></p>
			</div>
		</div>
	</section>
	<!-- SIDEBAR -->

	<!-- NAVBAR -->
	<section id="content">
		<!-- NAVBAR -->
		<nav>
			
			<form action="#">
				<div class="form-group">
					
				</div>
			</form>
			
			
			<span class="divider"></span>
			<div class="profile">
				<img src="../../images/logo1.png" alt="">
				
			</div>
		</nav>
		<!-- NAVBAR -->

		<!-- MAIN -->
		<main>
			<h1 class="title">Dashboard</h1>
			<ul class="breadcrumbs">
				<li><a href="#">Home</a></li>
				<li class="divider">/ Formations / Nom de formation /</li>
				<li><a href="#" class="active">Ajouter un module</a></li>
			</ul>
			<div class="info-data">
			
				
				
				
			</div>
      <!-- tableau-->
			<div class="data">
				<div class="content-data">
					<div class="head">
					
            <!-- formulaire pour ajouter une formation-->
			 <div class="container">
    <!-- Title section -->
    <div class="title">Ajouter un module</div>
    <div class="content">
      <form action="#">
        <div class="user-details">
          <div class="input-box">
            <span class="details">Nom</span>
            <input type="text" placeholder="Le nom du Module" required>
          </div>

          <div class="input-box">
            <span class="details">Numero de semestre </span>
            <input type="number" min=1 placeholder="Numero de semestre" required>
          </div>
         
        </div>
        <!-- Submit button -->
        <div class="button">
          <input type="submit" value="Ajouter">
        </div>
      </form>
    </div>
  </div>
            
						<!-- fin de formualaire-->
					</div>
					
				</div>
				
			</div>
		</main>
		<!-- MAIN -->
	</section>
	<!-- NAVBAR -->
