
	<!-- SIDEBAR -->
	<section id="sidebar">
		<a href="#" class="brand"><i class='bx bxs-smileee icon'></i> ENSATé</a>
		<ul class="side-menu">
			<li><a [routerLink]="['/dashboard']" ><i class='bx bxs-dashboard icon' ></i> Dashboard</a></li>
			<li class="divider" data-text="Gestion des utilisateurs">Gestion des formations</li>
			<li>
				<a href="#" class="active"><i class='bx bxs-inbox icon' ></i> Formations <i class='bx bx-chevron-right icon-right' ></i></a>
				<ul class="side-dropdown">
					<li *ngFor="let formation of formations"><a [routerLink]="['/formation', formation.id , 'modules']">{{formation.nom}}</a></li>
                    <li><a [routerLink]="['/ajouter-formation']">+ Ajouter une formation</a></li>
				</ul>
			</li>
			<li class="divider" data-text="Gestion des utilisateurs">Gestion des utilisateurs</li>
			<li>
				<a href="#"><i class='bx bxs-notepad icon' ></i> Utilisateurs <i class='bx bx-chevron-right icon-right' ></i></a>
				<ul class="side-dropdown">
					<li><a [routerLink]="['/dashboard']">Enseignants</a></li>
					<li><a [routerLink]="['/List-etudiants']">Etudiants</a></li>
					<li><a [routerLink]="['/List-directeurs']">Directeurs</a></li>

					
				</ul>
			</li>
		</ul>
		<div class="ads">
			<div class="wrapper">
				<a href="#" class="btn-upgrade">Déconnecter</a>
				<p>Accès <span>unique</span>à mes services <span>ENSA Tétouan</span></p>
			</div>
		</div>
	</section>
	<!-- SIDEBAR -->

	<!-- NAVBAR -->
	<section id="content">
		<!-- NAVBAR -->
		<nav>
			
			<form action="#">
				<div class="form-group">
					
				</div>
			</form>
			
			
			<span class="divider"></span>
			<div class="profile">
				<img src="../../images/logo1.png" alt="">
				
			</div>
		</nav>
		<!-- NAVBAR -->

		<!-- MAIN -->
		<main>
			<h1 class="title">Dashboard</h1>
			<ul class="breadcrumbs">
				<li><a href="#">Home</a></li>
				<li class="divider">/ Formations / {{oneFormation.nom}}</li>
				<li><a href="#" class="active"></a></li>
			</ul>
			<div class="info-data">
			
				
				
				
			</div>
      <!-- tableau-->
			<div class="data">
				<div class="content-data">
					<a [routerLink]="['/ajouter-module', oneFormation.id]">ajouter un module</a>
					<div class="head">
					
            <!--  pour afficher detail slider de la formation-->
            <div class="container">
				<h1>{{oneFormation.nom}}</h1>
				<div id="moduleCarousel" class="carousel slide" data-bs-ride="carousel">
					<div class="carousel-inner">
						<div class="carousel-item"  *ngFor="let group of groupedModules; let i = index" [ngClass]="{'active': i === 0}">
							<div class="row">
								<div class="module col"  *ngFor="let module of group">
									<h1>{{module.nom}}</h1>
									<p>Module id : {{module.id}} </p>
									<p>Semestre id :  {{module.semestre}}</p>
									<p>formation id : {{module.formationId}}</p>

								</div>
							</div>
						</div>
						
					</div>
			
					<button class="carousel-control-prev" type="button" data-bs-target="#moduleCarousel" data-bs-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Previous</span>
					</button>
					<button class="carousel-control-next" type="button" data-bs-target="#moduleCarousel" data-bs-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Next</span>
					</button>
				</div>
			</div>
			
			
						<!-- fin de -->
					</div>
					
				</div>
				
			</div>
		</main>
		<!-- MAIN -->
	</section>
	<!-- NAVBAR -->
