

	<!-- SIDEBAR -->
	<section id="sidebar">
		<a href="#" class="brand"><i class='bx bxs-smileee icon'></i> ENSATé</a>
		<ul class="side-menu">
			<li><a [routerLink]="['/dashboard']" class="active" ><i class='bx bxs-smileee icon'></i> Cher Professeur !</a></li>
			<li class="divider" data-text="Bonjour Cher Professeur !">Bienvenue dans votre espace </li>
			
			<li class="divider" data-text="">de gestion des cours et notes </li>
			
		</ul>
		<div class="ads">
			<div class="wrapper">
				<a href="#" class="btn-upgrade">Déconnecter</a>
				<p>Accès <span>unique</span>à mes services <span>ENSA Tétouan</span></p>
			</div>
		</div>
	</section>
	<!-- SIDEBAR -->

	<!-- NAVBAR -->
	<section id="content">
		<!-- NAVBAR -->
		<nav>
			
			<form action="#">
				<div class="form-group">
					
				</div>
			</form>
			
			
			<span class="divider"></span>
			<div class="profile">
				<img src="../../images/logo1.png" alt="">
				
			</div>
		</nav>
		<!-- NAVBAR -->

		<!-- MAIN -->
		<main>
			<h1 class="title">Notes</h1>
			<ul class="breadcrumbs">
				<li ><a [routerLink]="['/matiere',matiereId,'cours']">{{ MatiereNom }} </a></li>
				<li class="divider">/ Ajouter les notes</li>
			</ul>
			<div class="info-data">
			
				
				
				
			</div>
      <!-- tableau-->
			<div class="data">
				<div class="content-data">
					<div class="head">
					
            <!-- formulaire pour ajouter une formation-->
			 <div class="container">
    <!-- Title section -->
    <div class="title">Ajouter Les notes</div>
    <div class="content">
		<form (ngSubmit)="onSubmit()" #noteForm="ngForm">
			<div class="user-details">
			  <div class="input-box">
				<span class="details">Les notes</span>
				<input type="file"name="file" (change)="onFileSelected($event)" required>
			  </div>
			</div>
			<!-- Submit button -->
			<div class="button">
			  <input type="submit" value="Ajouter">
			</div>
		  </form>
    </div>
  </div>
            
						<!-- fin de formualaire-->
					</div>
					
				</div>
				
			</div>
		</main>
		<!-- MAIN -->
	</section>
	<!-- NAVBAR -->
