<app-formation/>
<!-- NAVBAR -->
<section id="content">
    <!-- NAVBAR -->
    <nav>
        
        <form action="#">
            <div class="form-group">
                
            </div>
        </form>
        
        
        <span class="divider"></span>
        <div class="profile">
            <img src="../../images/logo1.png" alt="">
            
        </div>
    </nav>
    <!-- NAVBAR -->

    <!-- MAIN -->
    <main>
        <h1 class="title">Dashboard</h1>
        <ul class="breadcrumbs">
            <li><a href="#">Home</a></li>
            <li class="divider">/ Formations / Module</li>
            <li><a href="#" class="active"></a></li>
        </ul>
        <div class="info-data">
        
            
            
            
        </div>
  <!-- tableau-->
        <div class="data">
            <div class="content-data">
                <a href="#">modifier un module</a>
                <div class="head">
                
        <!--  pour afficher detail slider de la formation-->
        <div class="container">
            <h1>Module name</h1>
            
                <div class="carousel-inner">
                    <div class="carousel-item">
                        <div class="row">
                            <div class="module col">
                            
                                <p>Module id : </p>
                                <p>Semestre id : </p>
                                <p>formation id : </p>

                            </div>
                        </div>
                    </div>
                    
                </div>
        
         
            </div>
    
        
        
                    <!-- fin de -->
                </div>
                
            </div>
            
        </div>
    </main>
    <!-- MAIN -->
</section>
<!-- NAVBAR -->
