
	<!-- SIDEBAR -->
	<section id="sidebar">
		<a href="#" class="brand"><i class='bx bxs-smileee icon'></i> ENSATé</a>
		<ul class="side-menu">
			<li><a [routerLink]="['/dashboard']" class="active" ><i class='bx bxs-smileee icon'></i> Cher Professeur !</a></li>
			<li class="divider" data-text="Bonjour Cher Professeur !">Bienvenue dans votre espace </li>
			
			<li class="divider" data-text="">de gestion des cours et notes </li>
			
		</ul>
		<div class="ads">
			<div class="wrapper">
				<a href="#" class="btn-upgrade">Déconnecter</a>
				<p>Accès <span>unique</span>à mes services <span>ENSA Tétouan</span></p>
			</div>
		</div>
	</section>
	<!-- SIDEBAR -->

	<!-- NAVBAR -->
	<section id="content">
		<!-- NAVBAR -->
		<nav>
			
			<form action="#">
				<div class="form-group">
					
				</div>
			</form>
			
			
			<span class="divider"></span>
			<div class="profile">
				<img src="../../images/logo1.png" alt="">
				
			</div>
		</nav>
		<!-- NAVBAR -->

		<!-- MAIN -->
		<main>
			<h1 class="title">Cours</h1>
			<ul class="breadcrumbs">
				<li ><a [routerLink]="['/enseignant-dashboard']">Matières</a></li>
				<li class="divider">/ {{ MatiereNom }} </li>
			</ul>
			<div class="info-data">
			
				
				
				
			</div>
      <!-- tableau-->
			<div class="data">
				<div class="content-data">
					<a  class="ajouter"[routerLink]="['/enseignant/matiere', matiereId, 'cours', 'add']">Ajouter un cours</a>
				
					<a class="ajouter"[routerLink]="['/enseignant/matiere', matiereId, 'add','notes']">Ajouter les Notes</a>
					<div class="head">
					
            <!--  pour afficher detail slider de la formation-->
            <div class="container">
				<h1>Les Cours</h1>
				<div id="moduleCarousel" class="carousel slide" data-ride="carousel">
					<div class="carousel-inner">
					  <div *ngFor="let group of getCoursGroups(); let i = index" class="carousel-item" [class.active]="i === 0">
						<div class="row">
						  <div class="module col" *ngFor="let cour of group">
							<a class="courNom" [routerLink]="['/enseignant/cours', cour.id]">{{ cour.nom }}</a>
							<p>
							  <a class="deletcour" (click)="deleteCour(cour)">Supprimer</a>
							</p>
							<p>
							  <a class="btn btn-primary" (click)="openModal(cour)">Modifier le Cours</a>
							</p>
						  </div>
						</div>
					  </div>
					</div>
			
					<button class="carousel-control-prev" type="button" data-bs-target="#moduleCarousel" data-bs-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Previous</span>
					</button>
					<button class="carousel-control-next" type="button" data-bs-target="#moduleCarousel" data-bs-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Next</span>
					</button>
				</div>
			</div>
			
			
						<!-- fin de -->
					</div>
					
				</div>
				
			</div>
		</main>
		<!-- MAIN -->
	</section>
	<!-- NAVBAR -->
<!-- Modal structure -->
<div class="modal" *ngIf="isModalOpen" style="display: block;">
	<div class="modal-dialog">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title">Modifier le Cours</h5>
		  <button type="button" class="close" (click)="isModalOpen = false">&times;</button>
		</div>
		<div class="modal-body">
			<form (ngSubmit)="updateCour()">
				<div class="mb-3">
				  <label for="nom" class="form-label">Nom:</label>
				  <input id="nom" [(ngModel)]="selectedCour.nom" name="nom" class="form-control" required />
				</div>
				<button type="submit" class="btn btn-primary">Mettre à jour le Cours</button>
				<button type="button" class="btn btn-secondary" (click)="isModalOpen = false">Annuler</button>
			  </form>
		</div>
	  </div> <!-- End of modal-content -->
	</div> <!-- End of modal-dialog -->
  </div> <!-- End of modal -->