
	<!-- SIDEBAR -->
	<section id="sidebar">
		<a href="#" class="brand"><i class='bx bxs-smileee icon'></i> ENSATé</a>
		<ul class="side-menu">
			<li><a [routerLink]="['/dashboard']" class="active" ><i class='bx bxs-dashboard icon' ></i> Dashboard</a></li>
			<li class="divider" data-text="Bonjour Cher Professeur !">Bonjour Cher Professeur !</li>
			
			<li class="divider" data-text="Nom Prenom">Nom Prenom </li>
			
			
		</ul>
		<div class="ads">
			<div class="wrapper">
				<a href="#" class="btn-upgrade">Déconnecter</a>
				<p>Accès <span>unique</span>à mes services <span>ENSA Tétouan</span></p>
			</div>
		</div>
	</section>
	<!-- SIDEBAR -->

	<!-- NAVBAR -->
	<section id="content">
		<!-- NAVBAR -->
		<nav>
			
			<form action="#">
				<div class="form-group">
					
				</div>
			</form>
			
			
			<span class="divider"></span>
			<div class="profile">
				<img src="../../images/logo1.png" alt="">
				
			</div>
		</nav>
		<!-- NAVBAR -->

		<!-- MAIN -->
		<main>
			<h1 class="title">Dashboard</h1>
			<ul class="breadcrumbs">
				<li><a href="#">Home</a></li>
				<li class="divider">/ Nom-Matiere /</li>
				<li><a href="#" class="active">Cours</a></li>
			</ul>
			<div class="info-data">
			
				
				
				
			</div>
      <!-- tableau-->
			<div class="data">
				<div class="content-data">
                    <a [routerLink]="['/enseignant-Ajouter_Cours']">ajouter un cours</a>
					<div class="head">
					
            <!--  pour afficher detail slider de la formation-->
            <div class="container">
				<h1>Les Cours</h1>
				<div id="moduleCarousel" class="carousel slide" data-bs-ride="carousel">
					<div class="carousel-inner">
						<div class="carousel-item active">
							<div class="row">
								<div class="module col" [routerLink]="['/detail-module']">
									<h1>Analyse 1</h1>
									<p>Module s3ib bzf</p>
								</div>
								<div class="module col" [routerLink]="['/detail-module']">
									<h1>Analyse 2</h1>
									<p>Module s3ib bzf</p>
								</div>
								<div class="module col" [routerLink]="['/detail-module']">
									<h1>Analyse 3</h1>
									<p>Module s3ib bzf</p>
								</div>
								<div class="module col" [routerLink]="['/detail-module']">
									<h1>Analyse 4</h1>
									<p>Module s3ib bzf</p>
								</div>
							</div>
						</div>
						<div class="carousel-item">
							<div class="row">
								<div class="module col" [routerLink]="['/detail-module']">
									<h1>Analyse 5</h1>
									<p>Module s3ib bzf</p>
								</div>
								<div class="module col" [routerLink]="['/detail-module']">
									<h1>Analyse 6</h1>
									<p>Module s3ib bzf</p>
								</div>
								<div class="module col" [routerLink]="['/detail-module']">
									<h1>Analyse 7</h1>
									<p>Module s3ib bzf</p>
								</div>
								<div class="module col" [routerLink]="['/detail-module']">
									<h1>Analyse 8</h1>
									<p>Module s3ib bzf</p>
								</div>
							</div>
						</div>
					</div>
			
					<button class="carousel-control-prev" type="button" data-bs-target="#moduleCarousel" data-bs-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Previous</span>
					</button>
					<button class="carousel-control-next" type="button" data-bs-target="#moduleCarousel" data-bs-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Next</span>
					</button>
				</div>
			</div>
			
			
						<!-- fin de -->
					</div>
					
				</div>
				
			</div>
		</main>
		<!-- MAIN -->
	</section>
	<!-- NAVBAR -->
