@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

* {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--grey: #F1F0F6;
	--dark-grey: #8D8D8D;
	--light: #fff;
	--dark: #000;
	--green: #81D43A;
	--light-green: #E3FFCB;
	--blue: #1775F1;
	--light-blue: #D0E4FF;
	--dark-blue: #0C5FCD;
	--red: #FC3B56;
}

html {
	overflow-x: hidden;
}

body {
	background: #F1F0F6;
	overflow-x: hidden;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}







/* SIDEBAR */
#sidebar {
	position: fixed;
	max-width: 260px;
	width: 100%;
	background: #fff;
	top: 0;
	left: 0;
	height: 100%;
	overflow-y: auto;
	scrollbar-width: none;
	transition: all .3s ease;
	z-index: 200;
}
#sidebar.hide {
	max-width: 60px;
}
#sidebar.hide:hover {
	max-width: 260px;
}
#sidebar::-webkit-scrollbar {
	display: none;
}
#sidebar .brand {
	font-size: 24px;
	display: flex;
	align-items: center;
	height: 64px;
	font-weight: 700;
	color: #0e4894;
	position: sticky;
	top: 0;
	left: 0;
	z-index: 100;
	background:#fff;
  /*background-image: url(../../images/logo1.png);*/
	transition: all .3s ease;
	padding: 0 6px;
}
#sidebar .icon {
	min-width: 48px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 6px;
   background-image: url(../../../images/logo1.png);
}
#sidebar .icon-right {
	margin-left: auto;
	transition: all .3s ease;
}
#sidebar .side-menu {
	margin: 36px 0;
	padding: 0 20px;
	transition: all .3s ease;
}
#sidebar.hide .side-menu {
	padding: 0 6px;
}
#sidebar.hide:hover .side-menu {
	padding: 0 20px;
}
#sidebar .side-menu a {
	display: flex;
	align-items: center;
	font-size: 14px;
	color: #000;
	padding: 12px 16px 12px 0;
	transition: all .3s ease;
	border-radius: 10px;
	margin: 4px 0;
	white-space: nowrap;
}
#sidebar .side-menu > li > a:hover {
	background: #F1F0F6;
}
#sidebar .side-menu > li > a.active .icon-right {
	transform: rotateZ(90deg);
}
#sidebar .side-menu > li > a.active,
#sidebar .side-menu > li > a.active:hover {
	background: #0e4894;;
	color: #fff;
}
#sidebar .divider {
	margin-top: 24px;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 700;
	color: #8D8D8D;
	transition: all .3s ease;
	white-space: nowrap;
}
#sidebar.hide:hover .divider {
	text-align: left;
}
#sidebar.hide .divider {
	text-align: center;
}
#sidebar .side-dropdown {
	padding-left: 54px;
	max-height: 0;
	overflow-y: hidden;
	transition: all .15s ease;
}
#sidebar .side-dropdown.show {
	max-height: 1000px;
}
#sidebar .side-dropdown a:hover {
	color: #1775F1;
}
#sidebar .ads {
	width: 100%;
	padding: 20px;
}
#sidebar.hide .ads {
	display: none;
}
#sidebar.hide:hover .ads {
	display: block;
}
#sidebar .ads .wrapper {
	background: #F1F0F6;
	padding: 20px;
	border-radius: 10px;
}
#sidebar .btn-upgrade {
	font-size: 14px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 12px 0;
	color: #fff;
	background: #0e4894;
	transition: all .3s ease;
	border-radius: 5px;
	font-weight: 600;
	margin-bottom: 12px;
}
#sidebar .btn-upgrade:hover {
	background: #0C5FCD;
}
#sidebar .ads .wrapper p {
	font-size: 12px;
	color: #8D8D8D;
	text-align: center;
}
#sidebar .ads .wrapper p span {
	font-weight: 700;
}
/* SIDEBAR */





/* CONTENT */
#content {
	position: relative;
	width: calc(100% - 260px);
	left: 260px;
	transition: all .3s ease;
}
#sidebar.hide + #content {
	width: calc(100% - 60px);
	left: 60px;
}
/* NAVBAR */
nav {
	background:#fff;
	height: 64px;
	padding: 0 20px;
	display: flex;
	align-items: center;
	grid-gap: 28px;
	position: sticky;
	top: 0;
	left: 0;
	z-index: 100;
}
nav .toggle-sidebar {
	font-size: 18px;
	cursor: pointer;
}
nav form {
	max-width: 400px;
	width: 100%;
	margin-right: auto;
}
nav .form-group {
	position: relative;
}
nav .form-group input {
	width: 100%;
	background: #F1F0F6;
	border-radius: 5px;
	border: none;
	outline: none;
	padding: 10px 36px 10px 16px;
	transition: all .3s ease;
}
nav .form-group input:focus {
	box-shadow: 0 0 0 1px #1775F1, 0 0 0 4px #D0E4FF;
}
nav .form-group .icon {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 16px;
	color: #8D8D8D;
}
nav .nav-link {
	position: relative;
}
nav .nav-link .icon {
	font-size: 18px;
	color: #000;
}
nav .nav-link .badge {
	position: absolute;
	top: -12px;
	right: -12px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 2px solid #fff;
	background: #FC3B56;
	display: flex;
	justify-content: center;
	align-items: center;
	color:#fff;
	font-size: 10px;
	font-weight: 700;
}
nav .divider {
	width: 1px;
	background: #F1F0F6;
	height: 12px;
	display: block;
}
nav .profile {
	position: relative;
}
nav .profile img {
	width: 36px;
	height: 36px;
	border-radius: 50%;
	object-fit: cover;
	cursor: pointer;
}
nav .profile .profile-link {
	position: absolute;
	top: calc(100% + 10px);
	right: 0;
	background: #fff;
	padding: 10px 0;
	box-shadow: 4px 4px 16px rgba(0, 0, 0, .1);
	border-radius: 10px;
	width: 160px;
	opacity: 0;
	pointer-events: none;
	transition: all .3s ease;
}
nav .profile .profile-link.show {
	opacity: 1;
	pointer-events: visible;
	top: 100%;
}
nav .profile .profile-link a {
	padding: 10px 16px;
	display: flex;
	grid-gap: 10px;
	font-size: 14px;
	color: #000;
	align-items: center;
	transition: all .3s ease;
}
nav .profile .profile-link a:hover {
	background: #F1F0F6;
}
/* NAVBAR */



/* MAIN */
main {
	width: 100%;
	padding: 24px 20px 20px 20px;
}
main .title {
	font-size: 28px;
	font-weight: 600;
	margin-bottom: 10px;
}
main .breadcrumbs {
	display: flex;
	grid-gap: 6px;
}
main .breadcrumbs li,
main .breadcrumbs li a {
	font-size: 14px;
}
main .breadcrumbs li a {
	color: #1775F1;
}
main .breadcrumbs li a.active,
main .breadcrumbs li.divider {
	color: #8D8D8D;
	pointer-events: none;
}
main .info-data {
	margin-top: 36px;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	grid-gap: 20px;
}
main .info-data .card {
	padding: 20px;
	border-radius: 10px;
	background: #fff;
	box-shadow: 4px 4px 16px rgba(0, 0, 0, .05);
}
main .card .head {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
main .card .head h2 {
	font-size: 24px;
	font-weight: 600;
}
main .card .head p {
	font-size: 14px;
}
main .card .head .icon {
	font-size: 20px;
	color: #0e4894;
}
main .card .head .icon.down {
	color:#FC3B56;
}
main .card .progress {
	display: block;
	margin-top: 24px;
	height: 10px;
	width: 100%;
	border-radius: 10px;
	background:#F1F0F6;
	overflow-y: hidden;
	position: relative;
	margin-bottom: 4px;
}
main .card .progress::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	background: var(--blue);
	width: var(--value);
}
main .card .label {
	font-size: 14px;
	font-weight: 700;
}
main .data {
	display: flex;
	grid-gap: 20px;
	margin-top: 20px;
	flex-wrap: wrap;
}
main .data .content-data {
  width: 100px;
	flex-grow: 1;
	flex-basis: 400px;
	padding: 20px;
	background: #fff;
	border-radius: 10px;
	box-shadow: 4px 4px 16px rgba(0, 0, 0, .1);
}
main .content-data .head {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 24px;
}
main .content-data .head h3 {
	font-size: 20px;
	font-weight: 600;
}



/* MAIN */
/* CONTENT */

/*============================================================= formulaire*/


.container{
	height: 100vh;
	width: 100%;
	padding: 0 8%;
}
.container h1{
	position: relative;
	text-transform: uppercase;
	text-align: center;
	padding-top: 10%;
	margin-bottom: 60px;
    font-size: 1.2rem;
}
.container h1::after{
	content: '';
	position: absolute;
	left: 50%;
	bottom: -5px;
	transform: translateX(-50%);
	width: 100px;
	height: 5px;
	background: #0e4894;
}
/*
 .container .row{
	display: grid;
	grid-template-columns: repeat(auto-fit,minmax(150px , 1fr));
	grid-gap: 30px;
 }*/
.container .row .module{
	background: #fff;
	padding: 25px 10px;
	text-align: center;
	border-radius: 5px;
	transition: transform .5s;
	cursor: pointer;
	color: #555;
	font-size: 14px;
}
.container .row .module:hover{
	transform: scale(1.1);
	/*background: #0e4894;*/
	color: #555;
}
.container .row .module i{
	font-size: 40px;
	color: #0e4894;
	margin-bottom: 10px;
}
.container .row .module:hover i{
	color: #FC3B56;
}
.container .row .module h2{
	margin-bottom: 8px;
}

/*fin formulaire*/




@media screen and (max-width: 768px) {
	#content {
		position: relative;
		width: calc(100% - 60px);
		transition: all .3s ease;
	}
	nav .nav-link,
	nav .divider {
		display: none;
	}
}


.container {
    margin-top: 20px; /* Espacement supérieur pour le container */
}

.carousel-item {
    padding: 20px; /* Espacement interne pour chaque élément du carousel */
}

.module {
    border: 1px solid #0e4894; /* Bordure pour les modules */
    border-radius: 10px; /* Coins arrondis */
    padding: 15px; /* Espacement interne */
    text-align: center; /* Centrer le texte */
    background-color: #f8f9fa; /* Couleur de fond */
    transition: transform 0.3s; /* Effet de transition lors du survol */
	margin: 10px;
}

.module:hover {
    transform: scale(1.05); /* Agrandir légèrement au survol */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #0e4894; /* Couleur de fond des icônes de navigation */
    border-radius: 50%; /* Arrondir les boutons de navigation */
}

.carousel-control-prev, .carousel-control-next {
    width: 5%; /* Ajuster la largeur des boutons de navigation */
}

.carousel-control-prev:hover, .carousel-control-next:hover {
    background-color: rgba(0, 123, 255, 0.1); /* Couleur de fond au survol */
}


/*************/

.modal {
    display: block; /* Rendre le modal visible */
    position: fixed; /* Positionner le modal par rapport à la fenêtre */
    z-index: 1050; /* Assurez-vous que le modal est au-dessus des autres éléments */
    left: 0;
    top: 0;
    width: 100%; /* Occuper toute la largeur */
    height: 100%; /* Occuper toute la hauteur */
    overflow: auto; /* Permet le défilement si le contenu dépasse */
    background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
}

.modal-dialog {
    position: relative; /* Positionner le contenu du modal */
    margin: auto; /* Centrer le modal horizontalement */
    top: 10%; /* Espacement depuis le haut de la fenêtre */
}

.modal-content {
    background-color: #ffffff; /* Fond blanc pour le contenu */
    border: 1px solid #dee2e6; /* Bordure légère */
    border-radius: 0.5rem; /* Coins arrondis */
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); /* Ombre légère */
    max-width: 500px; /* Largeur maximale */
    margin: auto; /* Centrer le contenu du modal */
}

.modal-header {
    display: flex; /* Utiliser flexbox pour l'en-tête */
    justify-content: space-between; /* Espacement entre le titre et le bouton de fermeture */
    align-items: center; /* Centrer verticalement les éléments */
    padding: 1rem; /* Espacement autour de l'en-tête */
    border-bottom: 1px solid #dee2e6; /* Bordure inférieure */
}

.modal-title {
    font-size: 1.25rem; /* Taille de la police du titre */
    margin: 0; /* Supprimer les marges */
}

.btn-close {
    background: none; /* Supprimer le fond par défaut */
    border: none; /* Supprimer la bordure */
    font-size: 1.5rem; /* Taille de la police du bouton de fermeture */
    color: #000; /* Couleur du texte du bouton de fermeture */
    cursor: pointer; /* Changer le curseur en main */
}

.modal-body {
    padding: 1rem; /* Espacement autour du corps du modal */
}

.mb-3 {
    margin-bottom: 1rem; /* Espacement en bas des éléments */
}

.btn {
    margin-right: 0.5rem; /* Espacement entre les boutons */
}

/* Ajouter une transition pour le modal */
.modal.fade {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.modal.show {
    opacity: 1;
}
.close {
    background: transparent; /* Fond transparent */
    border: none; /* Pas de bordure */
    font-size: 1.5rem; /* Taille de la police pour le bouton */
    color: #007bff; /* Couleur du texte (vous pouvez choisir une autre couleur) */
    cursor: pointer; /* Changer le curseur en main */
    transition: color 0.2s ease; /* Transition douce pour la couleur */
}

.close:focus {
    outline: none; /* Supprimer l'outline par défaut */
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); /* Ombre autour du bouton au focus */
}

.close:active {
    transform: scale(0.95); /* Réduire légèrement la taille au clic */
    transition: transform 0.1s ease; /* Transition rapide pour l'effet de clic */
}
.btn-primary{
	background-color: #0e4894;
	margin-top: 5px;
}
.courNom{
	color: #0e4894;
}
.deletcour{
	color: #bb4949;
}

/* Style pour le fond semi-transparent */
.modal {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.7);
  }
  .modal-body{
	margin: 30px;
  }
  /* Style pour la boite modale */
  .popup-custom {
	max-width: 500px;
	border-radius: 8px;
	background: #f9f9f9;
  }

  /* Styles pour l'en-tête de la popup */
  .modal-header {
	background-color:#0e4894;
	color: white;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	display: flex; /* Utiliser flexbox pour l'en-tête */
    justify-content: space-between; /* Espacement entre le titre et le bouton de fermeture */
    align-items: center; /* Centrer verticalement les éléments */
    padding: 1rem; /* Espacement autour de l'en-tête */
  }
  


  .modal-header h5 {
	font-weight: bold;
	padding: 5px;

  }
  
  .modal-header .bg-primary{
	background-color: #0e4894;
  }
  .btn-close {
	background: transparent;
	color: rgb(10, 1, 1);
	opacity: 1;
	margin-left: 250px;
	
  }
  .close{
	background:#0e4894;
	color: #fff;
	opacity: 1;
	border: none;
	padding-top: 0;
	margin-left: 460px;
	margin-bottom: 4px;
	position: fixed;
  }
 .text-white{
	padding-top: 0;

  }

  /* Effet d'ombre et d'arrondi */
  .modal-content {
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
	border-radius: 8px;
  }

  /* Animation d'apparition pour la popup */
  .fade.show {
	opacity: 1;
	transition: opacity 0.3s ease-in-out;
  }

  /* Styles pour le bouton */
  .btn-primary {
	margin: 10px;
	background-color: #0e4894;
	border: none;
	padding: 5px;
  }
  .btn-secondary{
	margin: 10px;
	background-color: #585c62;
	border: none;
	padding: 5px;
  }
  
.modal {
    display: block; 
    position: fixed; 
    z-index: 1050; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.5); 
}

.modal-dialog {
    position: relative; 
    margin: auto; 
    top: 10%; 
}

.modal-content {
    background-color: #ffffff; 
    border-radius: 0.5rem; 
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); 
    max-width: 500px;
    margin: auto; 
}
.ajouter{
	margin: 10px;
	margin-left: 80px;
	background-color: #0e4894;
	color: #dee2e6;
	cursor: pointer;
	padding: 10px;
	border-radius: 10px;
}
