
	<!-- SIDEBAR -->
	
	<app-formation/>
	<!-- NAVBAR -->
	<section id="content">
		<!-- NAVBAR -->
		<nav>
			
			<form action="#">
				<div class="form-group">
					
				</div>
			</form>
			
			
			<span class="divider"></span>
			<div class="profile">
				<img src="../../images/logo1.png" alt="">
				
			</div>
		</nav>
		<!-- NAVBAR -->

		<!-- MAIN -->
		<main>
			<h1 class="title">Dashboard</h1>
			<ul class="breadcrumbs">
				<li><a href="#">Home</a></li>
				<li class="divider">/ Formations / Nom de formation / Module /</li>
				<li><a href="#" class="active">Ajouter un matiere</a></li>
			</ul>
			<div class="info-data">
			
				
				
				
			</div>
      <!-- tableau-->
			<div class="data">
				<div class="content-data">
					<div class="head">
					
            <!-- formulaire pour ajouter une formation-->
			 <div class="container">
    <!-- Title section -->
    <div class="title">Ajouter une matiére</div>
    <div class="content">
     
      <form action="#">
        <div class="user-details">
          <div class="input-box">
            <span class="details">Nom</span>
            <input type="text" placeholder="Le nom du Matiere" required>
          </div>
          <div class="input-box">
            <span class="details">Professeur</span>
            <select required>
                <option value="" disabled selected>Sélectionnez un professeur</option>
                <option value="prof1">Professeur 1</option>
                <option value="prof2">Professeur 2</option>
                <option value="prof3">Professeur 3</option>
                <!-- Ajoute d'autres options ici -->
            </select>
          </div>
         
        </div>
        <!-- Submit button -->
        <div class="button">
          <input type="submit" value="Ajouter">
        </div>
      </form>
    </div>
  </div>
            
						<!-- fin de formualaire-->
					</div>
					
				</div>
				
			</div>
		</main>
		<!-- MAIN -->
	</section>
	<!-- NAVBAR -->
