
	<!-- SIDEBAR -->
	<section id="sidebar">
		<a href="#" class="brand"><i class='bx bxs-smileee icon'></i> ENSATé</a>
		<ul class="side-menu">
			<li><a [routerLink]="['/dashboard']" class="active" ><i class='bx bxs-dashboard icon' ></i> Dashboard</a></li>
			<li class="divider" data-text="Bonjour Cher Professeur !">Bonjour Cher Professeur !</li>
			
			<li class="divider" data-text="Nom Prenom">Nom Prenom </li>
			
		</ul>
		<div class="ads">
			<div class="wrapper">
				<a href="#" class="btn-upgrade">Déconnecter</a>
				<p>Accès <span>unique</span>à mes services <span>ENSA Tétouan</span></p>
			</div>
		</div>
	</section>
	<!-- SIDEBAR -->

	<!-- NAVBAR -->
	<section id="content">
		<!-- NAVBAR -->
		<nav>
			
			<form action="#">
				<div class="form-group">
					
				</div>
			</form>
			
			
			<span class="divider"></span>
			<div class="profile">
				<img src="../../images/logo1.png" alt="">
				
			</div>
		</nav>
		<!-- NAVBAR -->

		<!-- MAIN -->
		<main>
			<h1 class="title">{{ coursNom }}</h1>
			<ul class="breadcrumbs">
				<li class="divider">Cours /</li>
				<li><a  [routerLink]="['/enseignant/cours', coursId]" >{{ coursNom }}</a></li>
				<li><a  [routerLink]="['/enseignant/documents-cours', coursId]" >/ Documents</a></li>
			</ul>
			<div class="info-data">
			
				
				
				
			</div>
      <!-- tableau-->
			<div class="data">
				<div class="content-data">
					<div class="head">
					
            <!--  pour afficher detail slider de la formation-->
            <!-- tableau-->
            <main class="table" id="customers_table">
                <section class="table__header">
                    <h1>Documents</h1>
                    <a class="btn btn-primary" [routerLink]="['/enseignant/ajouter-document', coursId]">Ajouter Un Document</a>
                    <div class="input-group">
                        <input type="search" placeholder="Rechercher...">
                    </div>
                    
                </section>
                <section class="table__body">
                    <table>
						<thead>
						  <tr>
							<th>Nom<span class="icon-arrow">&UpArrow;</span></th>
							<th>Modifier</th>
							<th>Supprimer</th>
						  </tr>
						</thead>
						<tbody>
						  <tr *ngFor="let document of documents">
							<td>{{ document.nom }}</td> <!-- Affiche le nom du document -->
							<td>
							  <p class="status delivered"><a class="btn btn-primary" >Modifier</a></p>
							</td>
							<td>
								<p><button class="status cancelled" (click)="deletedocument(document)">Supprimer</button></p>
							</td>
						  </tr>
						</tbody>
					  </table>
                </section>
            </main>
  
                          <!-- fin tableau-->
			
						<!-- fin de -->
					</div>
					
				</div>
				
			</div>
		</main>
		<!-- MAIN -->
	</section>
	<!-- NAVBAR -->
	