

	<!-- SIDEBAR -->
	<section id="sidebar">
		<a href="#" class="brand"><i class='bx bxs-smileee icon'></i> ENSATé</a>
		<ul class="side-menu">
			<li><a [routerLink]="['/dashboard']" ><i class='bx bxs-dashboard icon' ></i> Dashboard</a></li>
			<li class="divider" data-text="Gestion des formations">Gestion des formations</li>
			<li>
				<a href="#"><i class='bx bxs-inbox icon' ></i> Formations <i class='bx bx-chevron-right icon-right' ></i></a>
				<ul class="side-dropdown">
					<li *ngFor="let formation of formations"><a [routerLink]="['/formation']">{{formation.nom}}</a></li>
                    <li><a [routerLink]="['/ajouter-formation']">+ Ajouter une formation</a></li>
				</ul>
			</li>
			<li class="divider" data-text="Gestion des utilisateurs">Gestion des utilisateurs</li>
			<li>
				<a href="#" class="active"><i class='bx bxs-notepad icon' ></i> Utilisateurs <i class='bx bx-chevron-right icon-right' ></i></a>
				<ul class="side-dropdown">
					<li><a [routerLink]="['/dashboard']">Enseignants</a></li>
					<li><a [routerLink]="['/List-etudiants']">Etudiants</a></li>
					<li><a [routerLink]="['/List-directeurs']">Directeurs</a></li>
					
				</ul>
			</li>
		</ul>
		<div class="ads">
			<div class="wrapper">
				<a href="#" class="btn-upgrade">Déconnecter</a>
				<p>Accès <span>unique</span>à mes services <span>ENSA Tétouan</span></p>
			</div>
		</div>
	</section>
	<!-- SIDEBAR -->

	<!-- NAVBAR -->
	<section id="content">
		<!-- NAVBAR -->
		<nav>
			
			<form action="#">
				<div class="form-group">
					
				</div>
			</form>
			
			
			<span class="divider"></span>
			<div class="profile">
				<img src="../../images/logo1.png" alt="">
				
			</div>
		</nav>
		<!-- NAVBAR -->

		<!-- MAIN -->
		<main>
			<h1 class="title">Dashboard</h1>
			<ul class="breadcrumbs">
				<li><a href="#">Home</a></li>
				<li class="divider">/</li>
				<li><a href="#" class="active">Utilisateurs / Etudiants</a></li>
			</ul>
			<div class="info-data">
			
				
			</div>
			
			<!-- popup-->

<!-- Structure de la popup avec style personnalisé -->
<div *ngIf="isPopupOpen" class="modal fade show" tabindex="-1" style="background: rgba(0, 0, 0, 0.7);">
	<div class="modal-dialog modal-dialog-centered modal-md">
	  <div class="modal-content shadow-lg border-0 rounded-4 popup-custom">
		<div class="modal-header bg-primary text-white">
		  <h5 class="modal-title">Ajouter un fichier</h5>
		  <!-- Bouton de fermeture -->
		  <button type="button" class="btn-close text-white" aria-label="Close" (click)="closePopup()">x</button>
		</div>
		<div class="modal-body">
		  <form>
			<div class="mb-3">
			  <label for="fileInput" class="form-label">Sélectionnez un fichier</label>
			  <input type="file" id="fileInput" (change)="onFileSelected($event)" class="form-control">
			</div>
		  </form>
		</div>
		<div class="modal-footer">
		  <button type="button" class="btn btn-secondary" (click)="closePopup()">Fermer</button>
		  <button type="button" class="btn btn-primary" (click)="onUpload()">Upload</button>
		</div>
	  </div>
	</div>
  </div>
      <!-- tableau-->
			<div class="data">
				<div class="content-data">
					<div class="head">
					
            <!-- tableau-->
            <main class="table" id="customers_table">
              <section class="table__header">
                  <h1>Liste des etudiants</h1>
				  <button class="btn btn-primary" (click)="openPopup()">Mis à jour</button>
                  <div class="input-group">
                      <input type="search" placeholder="Rechercher...">
                  </div>
				  <!--
                  <div class="export__file">
                      <label for="export-file" class="export__file-btn" title="Export File"></label>
                      <input type="checkbox" id="export-file">
                      <div class="export__file-options">
                          <label>Export As &nbsp; &#10140;</label>
                          <label for="export-file" id="toJSON">JSON <img src="../../images/json.png" alt=""></label>
                          <label for="export-file" id="toCSV">CSV <img src="../../images/csv.png" alt=""></label>
                          <label for="export-file" id="toEXCEL">EXCEL <img src="../../images/excel.png" alt=""></label>
                      </div>
                  </div>
				-->
              </section>
              <section class="table__body">
                  <table>
                      <thead>
                          <tr>
                              <th> Id <span class="icon-arrow">&UpArrow;</span></th>
                              <th> Nom <span class="icon-arrow">&UpArrow;</span></th>
                              <th> Prenom <span class="icon-arrow">&UpArrow;</span></th>
                              <th> Email <span class="icon-arrow">&UpArrow;</span></th>
                              <th> Status <span class="icon-arrow">&UpArrow;</span></th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let etudiant of etudiants">
                              <td> {{etudiant.id}} </td>
                              <td> {{etudiant.nom}}</td>
                              <td> {{etudiant.prenom}}</td>
                              <td> {{etudiant.email}}</td>
                              <td>
								<p [ngClass]="etudiant.status ? 'status cancelled' : 'status delivered'">
									{{ etudiant.status ? 'Inactive' : 'Active' }}
								  </p>
                              </td>
                          </tr>
                      </tbody>
                  </table>
              </section>
          </main>

						<!-- fin tableau-->
					</div>
					
				</div>
				
			</div>
		</main>
		<!-- MAIN -->
	</section>
	<!-- NAVBAR -->
